@using System.Web.Mvc;
@using RobotArm.WebApp.Helpers
@using RobotArm.WebApp.ViewModels

@model LoginViewModel


<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", new { Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="input_div">
        <div>
            @Html.LabelFor(x => x.Login, new { @class = "" })
            @Html.TextBoxFor(x => x.Login, new { @class = "" })
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
        </div>
        <div class="checkbox_div">
            @Html.CheckBoxFor(x => x.RememberMe)
            @Html.LabelFor(x => x.RememberMe)
        </div>
        <div>
            @Html.Button("Login")
        </div>
    </div>
}
