@model RobotArm.WebApp.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @string.Join(", ", Model.Roles.Select(r => r.Name))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { userId = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
